<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Users</title>
</head>
<body>
    <br><br><br><br>
    <form th:method="POST" th:action="@{/add}" th:object="${user}">
        Name <input type="text" th:field="*{name}" >
        <br><br><br>
        Surname <input type="text" th:field="*{surname}">
        <br><br><br>
        Email <input type="text" th:field="*{email}">
        <br><br><br>
        <input type="submit" value="OK">
    </form>
</body>
</html>