<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

    <form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br><br>
        <label for="name">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br><br>
        <label for="name">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br><br><br>
        <input type="submit" value="Update!"/>
    </form>

</body>
</html>